:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #000;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 90vh;
    width: 90vw;
    background-color: #303030;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#choose{
    width: 100%;
    text-align: center;
    background-color: #f5f5f5bd;
}

h1{
    font-family: 'Indie Flower', cursive;
}

#wow-div{
    height: 5vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wow-buttons{
    height: 5vh;
    width: 30vw;
    border-radius: 0;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: black;
}

#alliance{
    background-color: #6494ed8e;
}

#horde{
    background-color: #dd49679a;
}

#sheet{
    background-color: #f5f5f5bd;
    font-size: 1.5rem;
    min-width: 70%;
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;

}

.stat{
    border-bottom: 1px solid #000;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color:#303030;
    font-weight: bold;
}

#generate{
    height: 5vh;
    width: 80vw; 
    border-radius: 0;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: #f5f5f5;
    color: black;
}

@media only screen and (min-width: 768px) {
    #choose{
        width: 80%;
    }

    .wow-buttons{
        height: 5vh;
        width: 20vw;
    }

    #generate{
        height: 5vh;
        width: 80%; 
    }    
}

@media only screen and (min-width: 992px) {
    #container{
        height: 95vh;
        width: 70vw;
    }

    .wow-buttons{
        width: 10vw;
    }

    #generate{
        height: 5vh;
        width: 20vw; 
    } 

    #sheet{
        font-size: 1rem;
        width: 70%;
        padding: 10px;
    }
}